	<!-- START FOOTER -->
  <footer id="footer" class="with-separation-top">

    <div id="copyright" class="animate-me fadeInUp">
      <div class="container">
        <p> 2018 &#169; Copyright, BugDiscover All Rights Reserved.</p>
        <ul id="footer-navigation">
          <li><a href="bugdiscover.com:3000/terms.html" target="_blank">Terms of Use</a></li>
          <!-- <li><a href="/">Privacy Policy</a></li> -->
          <li><a >Support@bugdiscover.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->