/* .modal-buttons .btn {
    margin-right: 20px;
    padding: 0 0 0 1em;
}

.modal-content {
    color: black;
    text-align: center;
} */

.modal-content {
    background-color: #292b2c;
    color: white;
}