<div id="page">

	<app-header></app-header>



	<div class="page-content">


		<!-- START MAIN CONTAINER -->
		<div class="main-container">
		
				<div *ngIf="userType=='C'">

						<h3 class="with-breaker animate-me fadeInUp">
								<span> Rewards </span> Receipt
							</h3>
	
							<div class="container"> 
									<div class="row">					
										<div class="col-md-12">					
											<div class="">							
												<div class="card-body">
													<div class="card-header">
					
													</div>
													<div class="card-block">
														<div class="table-responsive">
															<table class="mui-table mui-table--bordered table-hover" cellspacing="0" width="100%">
																<thead> 
																	<tr><th>Invoice number</th>
																	<th>Date</th> 
																	<th>Total</th>											
																	<th> </th>	 
																</tr></thead>
					
																<tbody>

																		<tr *ngFor="let receipt of latestRewards.receipt">
																				<td>{{receipt.invoiceNumber}}</td> 	 										 
																				<td>{{receipt.date  | date: 'dd/MM/yyyy'}}</td>
																				<td>{{receipt.total}}</td>		
																			<td><a class="mui-btn mui-btn--raised mui-btn--primary mui-btn--small">View</a></td> 													 
																		</tr> 
					
																		<tr *ngIf="latestRewards.receipt?.length==0">
																				<td colspan="4" style="border-bottom: 1px solid #dadada;">
																					<h5 class="text-center">No Data!</h5>
																				</td>
																			</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
				</div>


		

		</div>
		<!-- END MAIN CONTAINER -->


	</div>




	<app-footer></app-footer>

	<!-- SCROLL TOP -->
	<a id="scroll-top" class="fadeInRight animate-me">
		<i class="fa fa-angle-double-up"></i>
	</a>

</div>