<div id="page">

	<app-header></app-header>



	<div class="page-content">


		<!-- START MAIN CONTAINER -->
		<div class="main-container">
		
				<div *ngIf="userType=='R'">

						<h3 class="with-breaker animate-me fadeInUp">
								<span> Rewards </span> Status
							</h3>
	
							<div class="container"> 
									<div class="row">					
										<div class="col-md-12">					
											<div class="">							
												<div class="card-body">
													<div class="card-header">
					
													</div>
													<div class="card-block">
														<div class="table-responsive">
															<table class="mui-table mui-table--bordered table-hover" cellspacing="0" width="100%">
																<thead> 
																		<tr><th>Due Date</th>  								
																			<th>Company Name</th>
																			<th>Submission Id </th>												
																			<th>CVSS </th>												
																			<th>Reward type </th>												
																			<th>Reward </th>												
																			<th>Status  </th>												
																			<th>ACK/query </th>	 
																		</tr>	
																</thead>
					
																<tbody>

																		<tr *ngFor="let statusItem of latestRewards.status">
																				<td>{{statusItem.dueDate  | date: 'dd/MM/yyyy'}}</td>
																				<td>{{statusItem.companyName}}</td> 	 										 
																				<td>{{statusItem.submissionId}}</td>
																				<td>{{statusItem.CVSS}}</td>
																				<td>{{statusItem.rewardType}}</td>
																				<td>{{statusItem.reward}}</td>
																				<td>{{statusItem.status}}</td>		
																				<td>{{statusItem.statusMsg}}</td>															 
																		</tr> 
					
																		<tr *ngIf="latestRewards.status?.length==0">
																				<td colspan="8" style="border-bottom: 1px solid #dadada;">
																					<h5 class="text-center">No Data!</h5>
																				</td>
																			</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
				</div>


		

		</div>
		<!-- END MAIN CONTAINER -->


	</div>




	<app-footer></app-footer>

	<!-- SCROLL TOP -->
	<a id="scroll-top" class="fadeInRight animate-me">
		<i class="fa fa-angle-double-up"></i>
	</a>

</div>