<div class="cointener">
<div class="wrap" style="text-align: center;margin-top: 5%;">
		<!--start-header-->
		<!-- <div class="header">
			<div class="logo">
				<h1><a href="#">Ohh</a></h1>
			</div>
		</div> -->
		<!--728x90-->
		<!--End-header-->
		<!--start-content-->
		<div class="content">
			<img src="../assets/images/loggedOut-img.png" title="error" />
      <!--728x90-->
      <br><br><br><br><br>
			<p><span><label>O</label>hh.....</span>You are logged out.</p>

			<a routerLink = ''>Back To Home</a>
			<!--728x90-->
			<!-- <div class="copy-right">
				<p>© 2017 BigDiscover. All Rights Reserved | Design by <a href="#">WD</a></p>
			</div> -->
		</div>
		<!--End-Cotent-->
  </div>
</div>